.orders{
margin-top:74px;
}
.order-detail{
margin-top:74px;
}
.status{
background-color:green;
}
.order-client-select{
text-align:center;
}
.orders button{
background-color:transparent;
border:none;
}
