<div id=sidebar-wrapper>
<div id="sidebar">
<div class="profile">
<hr>
<button class="prof-btn"><img class="prof-pic" src="http://www.fillmurray.com/150/150"/></button>
</div>
<hr>
<div class="sidenav">
<ul class="nav nav-pills nav-stacked">
  <li id="home" role="presentation"><a href="/">Home</a></li>
  <li id="orders" role="presentation"><a href="/orders">Orders</a></li>
  <li id="clients"role="presentation"><a href="/clients">Clients</a></li>
  <li id="procurements"role="presentation"><a href="/procurements">Procurements</a></li>
</ul>
</div>
</div>
</div>
