<div class="procurements-header col-md-12">
<table class="table table-bordered table-striped">
 <tr>
<td>Name:</td>
<td>Sales Rep:</td>
<td>Order #:<a href=""></a></td>
<td>Price:</td>
<td>Order Time:</td>
<td>Status:</td>
</tr>
<tbody class="searchable">
<tr>
<td></td>
<td></td>
<td></td>
<td></td <!--Still needs to calculate total price od products!!!--->
<td></td>
<td><span class="status badge"></span></td>
</tr>
</tbody>
</table>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
<script>
$('#procurements').addClass('active');
</script>
