<div class="col-md-offset-2 col-md-8 search">
    <div class="input-group">
      <input id="search-bar" type="text" class="form-control" placeholder="Who are we changing today?">
    </div>
	</div>
	<div class="col-md-2 add-client-btn">
	<div class="add-client">
	<button data-toggle="modal" data-target="#addClient">Add Client</button>
	</div>
  </div>


<div class="col-md-10">
<div class="container">
{%for clients in clients_list%}
<div class=" mix client-list">
<a href="{% url 'clients:detail' clients.id %}"><img class="prof-pic-client" src="{{clients.profie_pic.url}}"/></a>
<h3 class="title">{{clients.full_name}}</h3>
</div>
{%endfor%}
</div>
</div>

<!--Add Client Modal-->

<div class="modal fade" id="addClient" tabindex="-1" role="dialog" aria-labelledby="addClient" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Client</h4>
      </div>
      <div class="client-add modal-body">
<form action="/clients/clientCreate/" method="POST" enctype="multipart/form-data"> {% csrf_token %}
  <div class="form-group">
    <label for="Full Name">Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="full_name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="Phone">Phone</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="phone" placeholder="Phone">
  </div>
  <div class="form-group">
    <label for="Email">Email</label>
    <input type="email" class="form-control" id="exampleInputPassword1" name="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="Age">Age</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="age" placeholder="Age">
  </div>
  <div class="form-group">
    <label for="Address">Address</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="address" placeholder="Address">
  </div>
<div class="form-group">
    <label for="Contact Method">Contact Method</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="contact_method" placeholder="Contact Method">
  </div>
<div class="form-group">
    <label for="Occupation">Occupation</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="occupation" placeholder="Occupation">
  </div>
<div class="form-group">
    <label for="Tier">Tier</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="tier" placeholder="Tier">
  </div>
<div class="form-group">
    <label for="Birthday">Birthday</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="birthday" placeholder="Birthday">
  </div>
<div class="form-group">
    <label for="Relationship Status">Relationship Status</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="relationship_status" placeholder="Relationship Status">
  </div>
<div class="form-group">
    <label for="Sales Rep">Sales Rep</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="sales_rep" placeholder="Sales Rep">
  </div>
<div class="form-group">
    <label for="Meeting Location">Meeting Location</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="meeting_location" placeholder="Meeting Location">
  </div>
<div class="form-group">
    <label for="Contact Person">Contact Person</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="contact_person" placeholder="Contact Person">
  </div>
  <div class="form-group">
    <label for="Client Image">Client Photo</label>
    <input type="file" class="form-control" id="image" name="profie_pic" placeholder="Image">
  </div>
 </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add Client</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
<script>
$('#clients').addClass('active');
</script>
